[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
async-timeout = "*"
chardet = "*"
"discord.py" = "*"
emoji = "*"
requests = "*"
multidict = "*"
pytz = "*"
six = "*"
tzlocal = "*"
websockets = "*"
APScheduler = "*"
"roblopy" = "*"

[dev-packages]

[requires]
python_version = "3.8"
